body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

body h4 {
    font-family: 'Dancing Script', cursive;
}

/* NAV RESPONSIVE */

header .responsive-nav {
    position: absolute;
    z-index: 600;
    display: none;
    width: 90vw;
}

header .responsive-nav .logo {
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
}

header .responsive-nav #buttonOpenCloseMenu {
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

.menu-mobile-closed {
    display: none;
}

#menu-mobile-items {
    background: #0a0a0a;
    padding: 20px;
    position: fixed;
    width: 95%;
    z-index: 99;
}

#menu-mobile-items ul {
    margin-top: 50px;
    width: 90%;
}

#menu-mobile-items ul li {
    list-style: none;
}

#menu-mobile-items ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

/* NAV DESKTOP */

header .nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 110;
    width: 98.5vw;
}

header .nav .logo {
    color: #fff;
    margin: 40px;
}

header .nav ul {
    display: flex;
    margin: 40px;
}

header .nav ul li {
    list-style: none;
    font-size: 14px;
    margin: 0 10px;
}

header .nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* FONDO INICIO */

.inicio {
    height: 65vh;
    background-image: url(images/portada1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* NUESTRA HISTORIA */

.historia {
    position: relative;
    background-color: #0a0a0a;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 60;
}

.historia h2,
.historia h4,
.historia p {
    color: #fff;
    text-align: center;
}

.historia .info-cont h4 {
    font-weight: lighter;
}

.historia .info-cont {
    display: flex;
    margin: 30px;
}

.historia .data-cont {
    margin: 15px;
}

/* MENUS */

.menus {
    height: 40vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 70;
}

.menus .menus-cont {
    text-align: center;
}

.menus .menus-cont h2,
.menus .menus-cont h4 {
    color: #fff;
}

.menus .menus-buttons button {
    width: 200px;
    height: 60px;
    color: #f2f2f2;
    background: none;
    border: 1px solid #aaa;
    padding: 18px;
    margin: 0 20px;
}

.menus .menus-buttons button:hover {
    cursor: pointer;
}

/* PLATOS DE LA CASA */

.platos-casa {
    text-align: center;
    background-color: #0a0a0a;
    padding: 20px;
    position: relative;
    z-index: 80;
}

.platos-casa h2,
.platos-casa h4 {
    color: #fff;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 20px;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria img:nth-child(2) {
    grid-column-start: span 2;
}

/* ESTAMOS ESPERANDOTE */

footer {
    background-color: #000;
    padding: 20px;
}

footer .footer1-cont {
    display: flex;
    justify-content: center;
}

footer h2,
footer h4,
footer p,
footer ul li {
    color: #fff;
}

footer h2,
footer h4 {
    text-align: center;
}

h4 {
    font-weight: lighter;
    position: relative;
    top: -20px;
}

footer ul li {
    list-style: none;
}

footer .horarios {
    width: 30vw;
}

footer p {
    text-align: center;
}

footer .titulo {
    display: block;
    position: relative;
}

footer .titulo .reserva {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

footer .titulo .reserva a {
    color: #fff;
    width: 100%;
}

footer .reserva-mobile {
    display: none;
}

/* MENU */

.menu {
    display: block;
    padding: 20px;
    background-color: #0a0a0a;
}

.menu h4 {
    top: 0;
}

.menu .cont-lista-pizzas {
    padding: 0;
}

.menu .cont-lista-pizzas h2,
.menu .cont-lista-pizzas h4 {
    text-align: center;
}

.menu .cont-lista-pizzas h2,
.menu .cont-lista-pizzas h4,
.menu .cont-lista-pizzas ul li {
    margin: 5px auto;
    color: #fff;
    list-style: none;
}

.menu .cont-lista-pizzas ul {
    position: relative;
    width: 50%;
    margin: 20px auto;
}

.menu .cont-lista-pizzas ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .cont-lista-pizzas li b {
    font-size: 12px;
    font-weight: lighter;
}

/* SOBRE NOSOTROS */

.filosofia {
    background-color: #0a0a0a;
    padding: 10px;
}

.filosofia h2,
.filosofia h4,
.filosofia h3,
.filosofia p {
    color: #fff;
    text-align: center;
}

.filosofia .cont-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filosofia .cont-nosotros .cont-ventaja {
    margin: 20px;
}

.filosofia .cont-nosotros .cont-ventaja img {
    width: 100%;
}

/* CONTACTO */

.cont-contacto {
    background-color: #0a0a0a;
    padding: 30px;
    display: block;
    text-align: center;
}

.cont-contacto h4 {
    top: 0;
}

.cont-contacto h2,
.cont-contacto h4,
.cont-contacto p,
.cont-contacto li {
    color: #fff;
    list-style: none;
    margin: 0 auto;
}

.cont-contacto .cont-contact-info {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.cont-contacto .cont-contact-info li {
    margin-top: 15px;
}

.cont-contacto .cont-contact-info li b {
    font-family:  'Dancing Script', cursive;
    font-weight: lighter;
}

/* #map {
    height: 300px;
    width:100%;
    z-index: 200;
} */

.mapa {
    margin-top: 30px;
}

/* MEDIAS */

@media (max-width: 650px) {
    header .responsive-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 110;
        width: 98.5vw;
    }

    header .responsive-nav li a {
        margin: 10px;
    }

    header .nav {
        display: none;
    }

    .historia .info-cont {
        display: block;
    }

    .menu-mobile-closed {
        display: none;
    }

    /* MENUS */

    .menus {
        padding: 10px;
        height: 400px;
    }

    .menus-cont .menus-buttons button {
        display: block;
        margin-top: 15px;
    }

    /* MENU */

    .menu .cont-menu ul {
        width: 90%;
    }

    /* NOSOTROS */

    .filosofia .cont-nosotros {
        display: block;
    }

    /* CONTACTANOS */

    iframe {
        width: 95%;
        height: 300px;
    }

}

@media (max-width: 500px) {
    .platos-casa {
        display: block;
    }

    .platos-casa .galeria {
        display: block !important;
    }

    .platos-casa .galeria img {
        width: 98%;
        height: 200px;
    }

    /* FOOTER */

    footer {
        display: block;
    }

    footer .footer1-cont {
        display: block;
    }

    footer .footer1-cont a {
        position: relative;
    }

    footer .footer1-cont ul {
        width: 90%;
    }

    footer .titulo .reserva {
        display: none;
    }

    footer .reserva-mobile a {
        color: #fff;
        text-align: center;
    }

    footer .reserva-mobile {
        display: block;
        position: relative;
        text-align: center;
        margin: 30px;
    }
}